.button-login {
  position: relative;
  display: block;
  border-radius: 3px;
  margin: auto;
  width: 21em;
  height: 33px;
  padding: 0;
}

.button-login-icon {
  float: left;
  height: 21px;
  padding: 1px 0px 0px 4px;
}

.button-login-text {
  line-height: 21px;
  font-size: 14px;
}
