.button-login {
  position: relative;
  text-align: center;
  left: 42.1%;
  display: block;
  border-radius: 2px;
  margin-top: 10px;
  width: 21em;
  height: 33px;
  padding: 0;
}

.button-login-icon {
  float: left;
  height: 21px;
  padding: 1px 0px 0px 4px;
}

.button-login-text {
  line-height: 21px;
  font-size: 14px;
}

.plugin-settings-input {
  width: 350px
}